{% extends "base.html" %}

{% block content %}

    <h1>Benvenuti a Bologna Magica</h1>

    <p>Hai difficoltà a prendere una decisione? Preoccupato per il futuro? Preoccupato che le forze segrete stiano controllando il tuo destino? Allora è il momento di consultare i Tarocchi</p>

	<hr />

    <h2>Qui bisogna scrivere qualcosa per spiegare le opzioni:</h2>

    <p><strong><a href="/tarocchi-amore">Tarocchi dell'Amore</a></strong>
        <br />amore blah blah</p>

    <p><strong><a href="/tarocchi-si-no">Tarocchi Si o No</a></strong>
        <br />si o no blah blah</p>    

    <p><strong><a href="/one-card-tarot">Tarocchi Una Carta</a></strong>
        <br />una carta blah blah</p>

    <p><strong><a href="/three-cards-tarot">Tarocchi Tre Carte</a></strong>
        <br />tre carte blah blah</p>

    <p><strong><a href="/tarot-study">Studia le Carte dei Tarocchi</a></strong>
        <br />tutte le carte dei tarocchi</p>

	<hr />

    <h3>What is this website?</h3>

    <p>This little website is a simple application written in Python to draw one or three randomly selected tarot cards from a dictionary of 78 descriptions and image references.  The <a href="https://github.com/jeremytarling/python-tarot">source code is here</a> - there are no license restrictions, please feel free to fork or re-use.</p>

    <p>The tarot images and descriptions are the late Dr Yoav Ben Dov's excellent restoration</a> of <a href="https://gallica.bnf.fr/ark:/12148/btv1b10520316w/f131.item" target="_blank">Nicholas Conver's deck</a> from 1760, which he kindly made available under the <a href="https://creativecommons.org/licenses/by-nc-sa/3.0/" target="_blank">Creative Commons by-nc-sa licence</a> - please be sure to link back to <a href="http://www.cbdtarot.com/download/" target="_blank">his website</a> if you use them.</p>

    <p>As for me, my name is <a href="https://linktr.ee/jeremytarling">Jeremy Tarling</a> and I work as a metadata specialist at the BBC. I've been fascinated by the tarot since childhood when my aunty first introduced me to the cards.</p>

{% endblock %}
