{% extends "base.html" %}

{% block content %}

    <h2>Tarot study</h2>

    <p>The first thing is to get your own tarot deck if you don't have one already. There are many available and choice is really a personal one - what works for you? My journey started with <a href="https://en.wikipedia.org/wiki/Rider%E2%80%93Waite-tarot-deck" target="-new">Waite-Smith</a>, then Paul Case's <a href="https://en.wikipedia.org/wiki/B.O.T.A.-tarot-deck" target="-new">B.O.T.A. version</a>, then <a href="https://en.wikipedia.org/wiki/Thoth-tarot-deck" target="-new">Crowley and Harris's epic deck</a>. These days I've gone back to basics with the Marseille tarot - specifically the late Jean-Claude Flornoy's lovely restoration of the tarot of <a href="https://gallica.bnf.fr/ark:/12148/btv1b10537343h" target="new">Jean Dodal</a> - you can get it from his website <a href="https://tarot-history.com/tarot-of-jean-dodal/" target="new">Tarot History</a>.</p>
    
    <p>I suggest that you start by simply looking at each card. Take your time. Consider the posture and gestures of the figures in the trumps and court cards, and the arrangement and decorations of the symbols in the cards of the four suits. Lay the cards out in rows and columns, by suits and by numbers, and look for relationships. Allow each image to become a part of you, to live in your consciousness.</p>

     <p>There's a huge amount of literature about the tarot, from its history to its use for divination to its use for ritual magic. All of these can be interesting and valuable depending upon where you are on your journey. I've put together a short list of the books that I have found useful <a href="/reading-list">here</a>.</p>

     <h2>Arcani Maggiori (o trionfi)</h2>
     <p>alcuni dicono il viaggio del <a href="/one-card/the-fool">Matto</a></p>
     <ol>
        <li><a href="/one-card/the-magician">Il Mago</a></li>
        <li><a href="/one-card/the-popess">La Papessa</a></li>
        <li><a href="/one-card/the-empress">L'Imperatrice</a></li>
        <li><a href="/one-card/the-emperor">L'Imperatore</a></li>
        <li><a href="/one-card/the-pope">Il Papa</a></li>
        <li><a href="/one-card/the-lover">L'Innamorato</a></li>
        <li><a href="/one-card/the-chariot">Il Carro</a></li>
        <li><a href="/one-card/justice">La Giustizia</a></li>
        <li><a href="/one-card/the-hermit">L'Eremita</a></li>
        <li><a href="/one-card/the-wheel-of-fortune">La Ruota della Fortuna</a></li>
        <li><a href="/one-card/strength">La Forza</a></li>
        <li><a href="/one-card/the-hanged-man">L'Appeso</a></li>
        <li><a href="/one-card/13">La Morte</a></li>
        <li><a href="/one-card/temperance">La Temperanza</a></li>
        <li><a href="/one-card/the-devil">Il Diavolo</a></li>
        <li><a href="/one-card/the-house-of-god">La Torre</a></li>
        <li><a href="/one-card/the-star">La Stella</a></li>
        <li><a href="/one-card/the-moon">La Luna</a></li>
        <li><a href="/one-card/the-sun">Il Sole</a></li>
        <li><a href="/one-card/judgement">Il Giudizio</a></li>
        <li><a href="/one-card/the-world">Il Mondo</a></li>
     </ol>

     <h2>Bastoni</h2>
     <p>l'impulso creativo - desiderio, ambizione e determinazione</p>
     <ul>
        <li><a href="/one-card/ace-of-clubs">Asso di Bastoni</a> - creatività</li>
        <li><a href="/one-card/two-of-clubs">Due di Bastoni</a> - bivio</li>
        <li><a href="/one-card/three-of-clubs">Tre di Bastoni</a> - avanzamento</li>
        <li><a href="/one-card/four-of-clubs">Quattro di Bastoni</a> - stallo</li>
        <li><a href="/one-card/five-of-clubs">Cinque di Bastoni</a> - superamento</li>
        <li><a href="/one-card/six-of-clubs">Sei di Bastoni</a> - collaborazione</li>
        <li><a href="/one-card/seven-of-clubs">Sette di Bastoni</a> - lotta</li>
        <li><a href="/one-card/eight-of-clubs">Otto di Bastoni</a> - regolamentazione</li>
        <li><a href="/one-card/nine-of-clubs">Nove di Bastoni</a> - interruzione</li>
        <li><a href="/one-card/ten-of-clubs">Dieci di Bastoni</a> - lealtà</li>
        <li><a href="/one-card/page-of-clubs">Fante di Bastoni</a> - potenziale creativo</li>
        <li><a href="/one-card/knight-of-clubs">Cavaliere di Bastoni</a> - cambio di direzione</li>
        <li><a href="/one-card/queen-of-clubs">Regina di Bastoni</a> - forte personalità femminile</li>
        <li><a href="/one-card/king-of-clubs">Re di Bastoni</a> - maturità nel gestire i desideri</li>
     </ul>
     
     <h2>Coppe</h2>
     <p>il cuore - vita emotiva e spirituale</p>
     <ul>
        <li><a href="/one-card/ace-of-cups">Asso di Coppe</a> - amore</li>
        <li><a href="/one-card/two-of-cups">Due di Coppe</a> - unione</li>
        <li><a href="/one-card/three-of-cups">Tre di Coppe</a> - nascita</li>
        <li><a href="/one-card/four-of-cups">Quattro di Coppe</a> - famiglia</li>
        <li><a href="/one-card/five-of-cups">Cinque di Coppe</a> - socialità</li>
        <li><a href="/one-card/six-of-cups">Sei di Coppe</a> - continuità</li>
        <li><a href="/one-card/seven-of-cups">Sette di Coppe</a> - individualità</li>
        <li><a href="/one-card/eight-of-cups">Otto di Coppe</a> - coinvolgimento nel gruppo</li>
        <li><a href="/one-card/nine-of-cups">Nove di Coppe</a> - armonia di gruppo</li>
        <li><a href="/one-card/ten-of-cups">Dieci di Coppe</a> - leadership</li>
        <li><a href="/one-card/page-of-cups">Fante di Coppe</a> - primi passi incerti in amore</li>
        <li><a href="/one-card/knight-of-cups">Cavaliere di Coppe</a> - gesto romantico</li>
        <li><a href="/one-card/queen-of-cups">Regina di Coppe</a> - ricco mondo interiore (nascosto)</li>
        <li><a href="/one-card/king-of-cups">Re di Coppe</a> - maturità emotiva</li>
     </ul>

     <h2>Spade</h2>
     <p>la mente - intelletto, divisione e confronto</p>
     <ul>
        <li><a href="/one-card/ace-of-swords">Asso di Spade</a> - intelletto</li>
        <li><a href="/one-card/two-of-swords">Due di Spade</a> - confini</li>
        <li><a href="/one-card/three-of-swords">Tre di Spade</a> - vittoria</li>
        <li><a href="/one-card/four-of-swords">Quattro di Spade</a> - restrizione</li>
        <li><a href="/one-card/five-of-swords">Cinque di Spade</a> - svolta</li>
        <li><a href="/one-card/six-of-swords">Sei di Spade</a> - adattamento</li>
        <li><a href="/one-card/seven-of-swords">Sette di Spade</a> - concentrazione</li>
        <li><a href="/one-card/eight-of-swords">Otto di Spade</a> - difese</li>
        <li><a href="/one-card/nine-of-swords">Nove di Spade</a> - coraggio</li>
        <li><a href="/one-card/ten-of-swords">Dieci di Spade</a> - esaurimento</li>
        <li><a href="/one-card/page-of-swords">Fante di Spade</a> - preparazione alla sfida</li>
        <li><a href="/one-card/knight-of-swords">Cavaliere di Spade</a> - energia per avanzare</li>
        <li><a href="/one-card/queen-of-swords">Regina di Spade</a> - posizione sicura e protetta</li>
        <li><a href="/one-card/king-of-swords">Re di Spade</a> - determinazione al cambiamento</li>
     </ul>
     
     <h2>Denari</h2>
     <p>il corpo - questioni materiali, denaro e lavoro</p>
     <ul>
        <li><a href="/one-card/ace-of-coins">Asso di Denari</a> - inizio</li>
        <li><a href="/one-card/two-of-coins">Due di Denari</a> - dualità</li>
        <li><a href="/one-card/three-of-coins">Tre di Denari</a> - prodotto</li>
        <li><a href="/one-card/four-of-coins">Quattro di Denari</a> - stabilità</li>
        <li><a href="/one-card/five-of-coins">Cinque di Denari</a> - rottura</li>
        <li><a href="/one-card/six-of-coins">Sei di Denari</a> - espansione</li>
        <li><a href="/one-card/seven-of-coins">Sette di Denari</a> - accettazione</li>
        <li><a href="/one-card/eight-of-coins">Otto di Denari</a> - uniformità</li>
        <li><a href="/one-card/nine-of-coins">Nove di Denari</a> - motivazione</li>
        <li><a href="/one-card/ten-of-coins">Dieci di Denari</a> - abbondanza</li>
        <li><a href="/one-card/page-of-coins">Fante di Denari</a> - impresa pratica</li>
        <li><a href="/one-card/knight-of-coins">Cavaliere di Denari</a> - avanzamento pratico</li>
        <li><a href="/one-card/queen-of-coins">Regina di Denari</a> - stabilità materiale e personale</li>
        <li><a href="/one-card/king-of-coins">Re di Denari</a> - fiducia e sicurezza</li>
     </ul>

{% endblock %}
